#topo{
    background-color: red;
    padding: 7px;
}

.destaque{
    background-color: orange;
}

#banner{
    background-color: gray;
}

#topo a{
    color: white;

    border-left: 2px solid white;

    font-size: 18px;

    padding: 5px;
}